<!-- templates/admin_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    <p>Here's a list of things you can do:</p>
    <ul>
        <li><a href="{{ url_for('admin.index') }}">Admin Home</a></li>
        <li><a href="{{ url_for('admin.user.index_view') }}">Manage Users</a></li>
        <li><a href="{{ url_for('admin.songshow.index_view') }}">Manage Shows</a></li>
    </ul>
</body>
</html>