<!-- templates/index.html -->
{% extends 'layout.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="twelve columns" align="center"><h2>Admin Dashboard</h2>
    <hr \>
    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
        <hr \>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</div>
<div class="row">
    <div class="twelve columns" align="center">
    <form action="{{ url_for('song_contest.reset_votes', show_id=6) }}" method="post">
    <button type="submit">Reset Votes for Show 6</button>
</form>
    </div>
</div>
<div class="row">
    <div class="twelve columns" align="center"><hr \>
        <a href="{{ url_for('song_contest.admin_logout') }}" class="button">Logout</a></div>
</div>

{% endblock %}