{% extends 'layout.html' %}
{% block content %}

<h1>Confirm Your Votes</h1>

<p>First Place: 
    <img src="{{ country_1.image or '/static/uploads/default_flag.jpg' }}" alt="{{ country_1.country }}" style="width:50px;">
    {{ country_1.country }}
</p>

<p>Second Place: 
    <img src="{{ country_2.image or '/static/uploads/default_flag.jpg' }}" alt="{{ country_2.country }}" style="width:50px;">
    {{ country_2.country }}
</p>

<p>Third Place: 
    <img src="{{ country_3.image or '/static/uploads/default_flag.jpg' }}" alt="{{ country_3.country }}" style="width:50px;">
    {{ country_3.country }}
</p>

<form method="POST">
    <button type="submit">Confirm Votes</button>
</form>

{% endblock %}