{% extends 'layout.html' %}
{% block content %}
    <h1>Emcee Script</h1>
    
    <h2>Voting Results</h2>
    <ul>
        {% for entry in script %}
            <li>{{ entry.country }} votes:
                <ul>
                    {% for points_value, recipient in entry.points %}
                        <li>{{ points_value }} points for {{ recipient }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Leaderboard</h2>
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Contestant</th>
                <th>Grand Total</th>
                <th>Revised Points</th>
            </tr>
        </thead>
        <tbody>
            {% for country, total in leaderboard %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ country }}</td>
                    <td>{{ grand_totals[loop.index0]['total'] }}</td>
                    <td>{{ total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}