{% extends 'layout.html' %}
{% block content %}

{% if countries %}
<h1>Select Your Assigned Country</h1>

    {% for country_id, country_name, image in countries %}
    <div align="center">    <a href="{{ url_for('song_contest.vote_page', show_id=show_id, assigned_country=country_id) }}">
            <img src="/{{ image or 'static/uploads/default.jpg' }}" alt="{{ country_name }}" style="width:100px;"><br />
            {{ country_name }}
        </a></div>
    {% endfor %}

{% else %}
<p>No countries available for this show.</p>
{% endif %}
{% endblock %}