{% extends 'layout.html' %}
{% block title %}Vote for your favourite countries // Song Contest{% endblock %}
{% block content %}


<form method="POST">
    <div class="row">
        <div class="twelve columns" align="center"><h3>Place Your Votes</h3></div>
    </div>
    <div class="row">
        <div class="twelve columns" align="center"><label for="vote_1">First Place:</label>
    <select id="vote_1" name="vote_1" onchange="updateOptions('vote_1', 'vote_2', 'vote_3')" required>
        <option value="" disabled selected>Vote for First Place</option>
        {% for country_id, country_name in countries %}
        <option value="{{ country_id }}">{{ country_name }}</option>
        {% endfor %}
    </select>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" align="center"><label for="vote_2">Second Place:</label>
    <select id="vote_2" name="vote_2" onchange="updateOptions('vote_2', 'vote_3')" required>
        <option value="" disabled selected>Vote for Second Place</option>
        {% for country_id, country_name in countries %}
        <option value="{{ country_id }}">{{ country_name }}</option>
        {% endfor %}
    </select>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" align="center"><label for="vote_3">Third Place:</label>
    <select id="vote_3" name="vote_3" required>
        <option value="" disabled selected>Vote for Third Place</option>
        {% for country_id, country_name in countries %}
        <option value="{{ country_id }}">{{ country_name }}</option>
        {% endfor %}
    </select>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" align="center"><button type="submit">Submit Votes</button>
        </div>
    </div>
</form>

<script>
    function updateOptions(...dropdownIds) {
        let selectedValues = [];
        dropdownIds.forEach(id => {
            const dropdown = document.getElementById(id);
            selectedValues.push(dropdown.value);
        });

        dropdownIds.forEach((id, index) => {
            const dropdown = document.getElementById(id);
            for (let option of dropdown.options) {
                option.hidden = selectedValues.includes(option.value) && selectedValues.indexOf(option.value) !== index;
            }
        });
    }
</script>
{% endblock %}